{% if message %}
    <script>
    alert('{{ message }}');
    </script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign</title>
</head>
<style>

</style>
<body>
    <div class="login">
        <form class="form-signin" action="/postsign/" method="post">
        <h2 class="form-signin-heading">Вход</h2>
        {% csrf_token %}
      <input type="email" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" value="anyaperm13@gmail.com"><br><br>
      <input type="password" class="form-control" name="pass" placeholder="Password" required="" value="12345678"/><br><br>
      <input type="submit" value="Войти">
        <button type="button" onclick="location.href='{% url 'signUp' %}'">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>